header {
    z-index: 2000 !important;
}

/* reinicio estilos de google para los forms autocompletados */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #f8f9fa;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}

/* color de los input type date */

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

/* colores y estilos personalizados */

.text-ultramarine {
    color: #3e74ff;
}

.bg-ultramarine {
    background-color: #3e74ff;
}

.border-ultramarine {
    border: 1px solid #3e74ff;
}

.border-bottom-ultramarine {
    border-bottom: 2px solid #3e74ff;
}

.custom-fillable-input {
    border-radius: 50px;
    padding: 0.5rem;
    background-color: transparent;
    border: 2px solid #3e74ff;
}

.custom-fillable-input:focus {
    outline: none !important;
}

.custom-fillable-textarea {
    border-radius: 20px;
    padding: 0.5rem;
    background-color: transparent;
    border: 2px solid #3e74ff;
}

.custom-show-password {
    -webkit-appearance: none;
    margin-right: 1rem;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #f8f9fa;
    border: 2px solid #f8f9fa;
    outline: 2px solid #3e74ff;
    cursor: pointer;
}

.custom-show-password:checked {
    background-color: #3e74ff;
}

.m-navheight {
    margin-bottom: 46px;
}

/* welcome */

.gallery {
    columns: 2;
    gap: 0.5rem;
}

.scroll-fade {
    height: 3rem;
    width: 100%;
    bottom: 45px;
    position: fixed;
    background-image: linear-gradient(to top, #212529 20%, transparent 100%);
}

.profile-pic {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.active-slide-header {
    color: #3e74ff !important;
}

/* registro */

.avatar-input {
    display: none;
}

.avatar-label {
    height: 140px;
    width: 140px;
}

.avatar-img-container {
    height: 140px;
    width: 140px;
}

.avatar-status-container {
    position: absolute;
    margin: auto;
    width: 80px;
    height: 80px;
}

.avatar-status {
    height: 100%;
    width: 100%;
    background-color: #212529b9;
}

.avatar-container {
    cursor: pointer;
}

.cam-icon-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    bottom: 0;
    right: 0;
}

#avatarOutput {
    display: none;
}

.avatar-thumbnail {
    height: 22px;
    width: 22px;
}

/* perfil del usuario */

.avatar {
    height: 180px;
    width: 180px;
}

.avatar-superadmin-border {
    outline: 2px solid #3e74ff;
}

.avatar-admin-border {
    outline: 2px solid #FFBB00;
}

.user-date-container {
    left: 50%;
    bottom: -16px;
    transform: translate(-50%, -50%);
}

.null-photos-container {
    height: 200px;
    width: 200px;
}

.user-gallery {
    margin-left: 4px;
    margin-right: 4px;
}

.user-gallery-card {
    padding: 4px;
    aspect-ratio: 1;
}

.photo-options-container {
    margin: 0.5rem;
}

.photo-options {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212529b4;
    height: 28px;
    width: 28px;
}

/* noticias */

.new-img-container {
    aspect-ratio: 1;
}

/* navegación arriba */

.nav-button {
    width: 34px;
    height: 34px;
    z-index: 1300;
}

#skyScenicTitle {
    z-index: 1200;
}

.return-button {
    position: absolute;
    left: 1.2rem;
}

.option-button {
    position: absolute;
    right: 1.2rem;
}

#profileNavContainer {
    display: none;
    border-left: 2px solid #3e74ff;
    width: 40vw;
    height: 90vh;
    right: -40vw;
    top: 66px;
    background-color: #283139;
    /* backdrop-filter: blur(10px); */
}

/* navegacion abajo */

.admin-upload-options {
    left: 0;
    bottom: -200px;
    height: 200px;
    box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.75);
}

.admin-upload-close {
    right: 10px;
}

.admin-upload-info {
    border-bottom: 1px solid #6c757d;
    width: 100%;
}

/* subir foto */

.photo-input {
    display: none;
}

.photo-label {
    width: 100%;
}

.photo-container {
    cursor: pointer;
}

.img-status-container {
    width: 100%;
    left: 10px;
    top: 10px;
    position: absolute;
    height: 40px;
    width: 40px;
}

.img-status {
    background-color: #212529b9;
    height: 100%;
    width: 100%;
}

.photo-svg-border {
    border: 3px dashed;
    width: fit-content;
    height: fit-content;
}

.photo-svg {
    margin: 2rem;
    height: 80px;
    width: 80px;
}

.upload-loading-gif {
    top: -21px;
    left: -32px;
}

.search-results {
    background-color: transparent;
    max-height: 190px;
    overflow-y: scroll;
    border-radius: 20px;
    border: 2px solid #3e74ff;
}

/* estilos de librerias */

/* opciones de perfil */
@keyframes slideInLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.slide-in-left {
    animation: slideInLeft 0.5s ease forwards;
}

@keyframes slideOutLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}

.slide-out-left {
    animation: slideOutLeft 0.5s ease backwards;
}

/* opciones upload admin */
@keyframes slideInDown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

.slide-in-down {
    animation: slideInDown 0.5s ease forwards;
}

@keyframes slideOutDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(110%);
    }
}

.slide-out-down {
    animation: slideOutDown 0.5s ease backwards;
}
