.text-ultramarine {
    color: #3e74ff;
}

.bg-ultramarine {
    background-color: #3e74ff;
}

.border-ultramarine {
    border: 1px solid #3e74ff !important;
}

.gallery {
    columns: 2;
}

.scroll-fade {
    height: 3rem;
    width: 100%;
    bottom: 45px;
    position: fixed;
    background-image: linear-gradient(to top, #212529 20%, transparent 100%);
}

.return-background {
    background-color: #212529b5;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    margin: .5rem;
}

.photo-upload-form {
    position: absolute;
    bottom: 0;
}

.profilePic {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

#img_path_output {
    min-height: auto;
    border: none !important;
}

.custom-fillable-input {
    padding: 0 0 .5rem 0;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #666;
}

.custom-fillable-input:focus {
    outline: none !important;
}

.input-select-options-container {
    background-color: #ffffff;
    padding: 1rem;
    max-height: 180px;
    overflow-y: scroll;
}

.input-select-option {
    padding: .5rem 0;
}
